<ion-header>
  <ion-toolbar>
    <ion-title>Handle Bracelets</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <div class="title">
      <b>
        PULSERAS
      </b>
    </div>
    <div *ngIf="(bracelets | async).length == 0">
      No hay pulseras
    </div>
     <ion-list *ngFor="let bracelet of (bracelets | async)">
      <ion-item>
        <ion-label>{{bracelet.surname}}</ion-label> &nbsp; <ion-button> Abrir </ion-button>
      </ion-item>
    </ion-list>
    <div class="button-container">
      <ion-button (click)="goToAddBracelet()">
        Añadir nueva pulsera
      </ion-button>
    </div>
  </div>
</ion-content>
