<ion-header>
  <ion-toolbar>
    <ion-title>Handle Bracelets</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <div class="title">
      <b>
        PULSERAS
      </b>
    </div>
    <ion-list>
      <ion-item>
        <ion-label>Pokémon Yellow</ion-label> <ion-button> Abrir </ion-button>
      </ion-item>
      <ion-item>
        <ion-label>Mega Man X</ion-label> <ion-button> Abrir </ion-button>
      </ion-item>
      <ion-item>
        <ion-label>The Legend of Zelda</ion-label> <ion-button> Abrir </ion-button>
      </ion-item>
    </ion-list>
    <div class="button-container">
      <ion-button>
        Añadir nueva pulsera
      </ion-button>
    </div>
  </div>
</ion-content>
