<ion-header>
  <ion-toolbar>
    <ion-title>Welcome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <div class="title">
      <b>
        <div *ngIf="user">Bienvenido {{user.name}}!</div>
      </b>
    </div>
    <div class="img-container" fxLayout="row" fxLayoutAlign="center center">
      <img class="title-image" src="assets/mujer.png">
    </div>
    <ion-item class="telephone">
      <ion-label>Ingrese su Teléfono:</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <div>
      <ion-button >
        Continuar
      </ion-button>
    </div>
  </div>
  <!--<div *ngIf="user">
    <ion-img class="small-image" [src]="user.image_url"></ion-img>
  </div>-->
</ion-content>
