
.up-menu{
    height:30%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.img-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.title-image{
    width: 30%;
    padding: 10px;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ffcdd2;
    height: 100%;
}